<form *ngIf="!submitted" #detailsForm="ngForm" (ngSubmit)="onSubmit()">
    <md-toolbar color="accent">
        <span>{{title | uppercase}}</span>
        <span class="fill-remaining-space"></span>
        <button md-button (click)="goBack();  $event.preventDefault();"><i class="material-icons">keyboard_arrow_left</i> BACK</button>
        <button md-button  type="submit" [disabled]="!detailsForm.dirty || !detailsForm.valid"><i class="material-icons">save</i> SAVE</button>
    </md-toolbar>

    <div class="details-body">
        <md-card *ngIf="author">

                <div class="form-line">
                    <md-input-container class="form-item">
                        <input mdInput placeholder="Author ID" disabled value="{{author.id}}">
                    </md-input-container>
                </div>
                <div class="form-line">
                    <md-input-container class="form-item">
                        <input mdInput #nameInput="ngModel"
                               placeholder="Name" required [(ngModel)]="author.name" name="name" />
                        <md-error *ngIf="!nameInput.valid">
                            Name is required
                        </md-error>
                    </md-input-container>
                </div>
                <div class="form-line">
                    <md-input-container class="form-item">
                        <input mdInput #userNameInput="ngModel"
                               placeholder="Username" required [(ngModel)]="author.username" name="username" />
                        <md-error *ngIf="!userNameInput.valid">
                            Username is required
                        </md-error>
                    </md-input-container>
                </div>
                <div class="form-line">
                    <md-input-container class="form-item">
                        <input mdInput  #emailInput="ngModel"
                               type="email"
                               placeholder="Email"
                               ngControl="email"
                               pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$"
                               required [(ngModel)]="author.email" name="email"/>
                        <md-error *ngIf="!emailInput.valid">
                            <span class="md-char-counter" *ngIf="emailInput.errors && emailInput.errors.required">
                                Email is required
                            </span>
                            <span class="md-char-counter" *ngIf="emailInput.errors && emailInput.errors.pattern">
                                Email is invalid
                            </span>
                        </md-error>
                    </md-input-container>
                </div>
                <div class="form-line">
                    <md-input-container class="form-item">
                        <input mdInput #phoneInput="ngModel"
                            placeholder="Phone"
                            ngControl="phone"
                            pattern="^[\d-()]+$"
                            required
                            [(ngModel)]="author.phone"
                            name="phone" />
                        <md-error *ngIf="!phoneInput.valid">
                            <span class="md-char-counter" *ngIf="phoneInput.errors && phoneInput.errors.required">
                                Phone is required
                            </span>
                            <span class="md-char-counter" *ngIf="phoneInput.errors && phoneInput.errors.pattern">
                                Phone is invalid
                            </span>
                        </md-error>
                    </md-input-container>
                </div>
                <div class="form-line">
                    <md-input-container class="form-item">
                        <input mdInput #urlInput="ngModel"
                               type="url" placeholder="Website" required [(ngModel)]="author.website" name="website" />
                        <md-error *ngIf="!urlInput.valid">
                            Website is required
                        </md-error>
                    </md-input-container>
                </div>
        </md-card>
    </div>
</form>
<div class="loader" *ngIf="submitted">
    <md-spinner class="loading"></md-spinner>
</div>
