<form *ngIf="!submitted" #detailsForm="ngForm" (ngSubmit)="onSubmit()">
    <md-toolbar color="accent">
        <span>{{title | uppercase}}</span>
        <span class="fill-remaining-space"></span>
        <button md-button (click)="goBack();  $event.preventDefault();"><i class="material-icons">keyboard_arrow_left</i> BACK</button>
        <button type="submit" md-button [disabled]="!detailsForm.dirty || !detailsForm.valid"><i class="material-icons">save</i> SAVE</button>
    </md-toolbar>

    <div class="details-body">
        <md-card *ngIf="album">
                <div class="form-line">
                    <md-input-container class="form-item">
                        <input mdInput placeholder="Album ID" disabled value="{{album.id}}" />
                    </md-input-container>
                </div>
                <div class="form-line">
                    <md-input-container class="form-item">
                        <input mdInput #titleInput="ngModel"
                               placeholder="Title" minlength="4" required [(ngModel)]="album.title" name="title" />
                        <md-error *ngIf="!titleInput.valid">
                            Title is required
                        </md-error>
                    </md-input-container>
                </div>
                <div class="form-line">
                    <md-select placeholder="Author" class="form-item" required [(ngModel)]="album.userId" name="userId">
                        <md-option *ngFor="let author of authors" [value]="author.id">{{ author.name }}</md-option>
                    </md-select>
                </div>

        </md-card>
    </div>
</form>
<div class="loader" *ngIf="submitted" >
    <md-spinner class="loading"></md-spinner>
</div>
