<div *ngIf="albums">
    <md-toolbar color="primary"><md-icon class="nav-icon">photo_library</md-icon>{{title | uppercase}} ({{albums.length}})</md-toolbar>
    <md-list dense class="albums">
        <md-list-item *ngFor="let album of albums"
                      (click)="onRecordClick(album)" [routerLink]="['/albums', album.id]">
            {{album.title}} ({{album.id}})
        </md-list-item>
    </md-list>
</div>