<div *ngIf="authors">
    <md-toolbar color="primary"><md-icon class="nav-icon">group</md-icon>{{title | uppercase}} ({{authors.length}})</md-toolbar>
    <md-list dense class="authors">
        <md-list-item *ngFor="let author of authors"
            (click)="onRecordClick(author)" [routerLink]="['/authors', author.id]">
            {{author.name}} ({{author.id}})
        </md-list-item>
    </md-list>
</div>