html, body {
    padding: 0;
    margin: 0;
    font-family: Roboto,"Helvetica Neue",sans-serif;
}
.fill-remaining-space {
    flex: 1 1 auto;
}
.details-body {
    padding: 40px;
}
.form-line {
    padding: 5px 0;
}
.form-item {
    width: 400px;
}
.nav-icon {
    padding: 0 10px;
}

.loader {
    display: flex;
    height: 100%;
    width: 100%;
    position: absolute;
    align-items: center;
    justify-content: center;
    top: 0;
}